{% extends "elements/unregister_base.html" %}
{% block title %}Insira a nova senha{% endblock %}
{% load widget_tweaks %}
{% block content %}
    {% if validlink %}
        <h3>Insira a nova senha</h3>
        <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p><br />
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <p>{{ form.new_password1.errors }}</p>
            <div class="form-group has-feedback">
            <label for="id_new_password1">Nova senha:</label>
            {{ form.new_password1|append_attr:"class: form-control"}}
            </div>

            <p>{{ form.new_password2.errors }}</p>
            <div class="form-group has-feedback">
            <label for="id_new_password2">Confirme a senha:</label>
            {{ form.new_password2|append_attr:"class: form-control"}}
            </div>

            <p><input class="btn btn-primary btn-block btn-flat" type="submit" value="Alterar minha senha" /></p>
        </form>
    {% else %}
        <h3>Recuperação de senha sem sucesso</h3>
        <p>O link para a recuperação de senha era inválido, possivelmente porque já foi utilizado. <br/>
            Por favor, solicite uma nova recuperação de senha.</p>
    {% endif %}
{% endblock %}