{% extends "elements/unregister_base.html" %}
{% load widget_tweaks %}
{% block title %}Recuperar senha{% endblock %}

{% block content %}
    <p>Esqueceu sua senha? Digite seu e-mail abaixo e você receberá instruções para definir uma nova.</p>

    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        <div class="form-group has-feedback">
        {{ form.email|append_attr:"class: form-control"|attr:"placeholder: Digite seu email" }}
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input class="btn btn-primary btn-block btn-flat" type="submit" value="Restaure sua senha" />
            </div>
        </div>
    </form>
{% endblock %}