{% extends 'elements/base.html' %}
{% load widget_tweaks %}
{% load utils %}
{% block title %}Solicitação de reembolso de viagem{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
             {% if object %}
                Editar solicitação
            {% else %}
                Nova solicitação
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' request.user.slug %}"><i class="fa fa-clock-o"></i> Início</a></li>
            <li><a href="{% url 'list_refund' %}">Reembolsos de viagem</a></li>
            {% if object %}
                <li class="active">Editar solicitação</li>
            {% else %}
                <li class="active">Nova solicitação</li>
            {% endif %}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
              {% include 'elements/messages.html' %}
                <div style="color:red">{{ form.non_field_errors }}</div>
                <div class="box box-info">
                    <!-- /.box-header -->
                    <form role="form" method="POST" action="{% if object %}{% url 'update_refund' object.pk %}{% else %}{% url 'create_refund' %}{% endif %}">
                        <div class="box-body">
                            {% csrf_token %}
                            <!-- text input -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Beneficiário *</label>
                                    {{ form.beneficiary|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.beneficiary.errors }}</div>
                                </div>
                                <div class="col-lg-4">
                                    <label>Autorizador *</label>
                                    {{ form.authorizer|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.authorizer.errors }}</div>
                                </div>
                                {% if request.user.is_superuser or request.user|has_status_refund_permission %}
                                <div class="col-lg-4">
                                    <label>Estado</label>
                                    {{ form.status|append_attr:"class: form-control" }}
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Ida</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                      {{ form.going_date|append_attr:"class: form-control pull-right datepicker" }}
                                    </div>
                                    <div style="color:red">{{ form.going_date.errors }}</div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.going_enterprise|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.going_enterprise.errors }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_exit_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_arrival_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Volta</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                      {{ form.back_date|append_attr:"class: form-control pull-right datepicker" }}
                                    </div>
                                    <div style="color:red">{{ form.back_date.errors }}</div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.back_enterprise|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.back_enterprise.errors }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_exit_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_arrival_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Despesas</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Despesas com locomoção</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.expenses_locomotion|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Despesas com alimentação</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.meal_expenses|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Diária</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.daily|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Quilometragem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.mileage|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                                <h3 class="box-title">Histórico</h3>
                            </div>
                            <div class="form-group">
                                <label></label>
                                {{ form.history|append_attr:"class: form-control" }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extracss %}
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}plugins/datepicker/datepicker3.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}
{% block extrajs %}
<!-- bootstrap datepicker -->
<script src="{{ MEDIA_URL }}plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{ MEDIA_URL }}plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js"></script>
<!-- bootstrap timepicker -->
<script src="{{ MEDIA_URL }}plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script>
  $(function () {

    //Date picker
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
        autoclose: true
    });

    //Timepicker
    $(".timepicker").timepicker({
        showMeridian: false,
        showInputs: false
    });
  });
</script>
{% endblock %}