{% extends 'elements/base.html' %}
{% load widget_tweaks %}
{% load utils %}
{% block title %}Solicitação de reembolso de viagem{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
             {% if object %}
                Editar solicitação
            {% else %}
                Nova solicitação
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' request.user.slug %}"><i class="fa fa-clock-o"></i> Início</a></li>
            <li><a href="{% url 'list_refund' %}">Reembolsos de viagem</a></li>
            {% if object %}
                <li class="active">Editar solicitação</li>
            {% else %}
                <li class="active">Nova solicitação</li>
            {% endif %}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
              {% include 'elements/messages.html' %}
                <div style="color:red">{{ form.non_field_errors }}</div>
                <div class="box box-info">
                    <!-- /.box-header -->
                    <form role="form" method="POST" action="{% if object %}{% url 'update_refund' object.pk %}{% else %}{% url 'create_refund' %}{% endif %}">
                        <div class="box-body">
                            {% csrf_token %}
                            <!-- text input -->
                            <div class="row">
                            {% if object and request.user|has_approve_refund_permission and not request.user == object.beneficiary %}
                                <div class="col-lg-6">
                                    <label>Beneficiário *</label>
                                    <select class=" form-control" id="id_beneficiary" name="beneficiary" readonly>
                                    <option value="{{ object.beneficiary.id }}" selected="selected">{{ object.beneficiary.get_display_name }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Estado</label>
                                    <select class=" form-control" id="id_status" name="status">
                                        <option value="1" selected="selected">Aguardando</option>
                                        <option value="2">Aprovada</option>
                                        <option value="4">Rejeitada</option>
                                    </select>
                                </div>
                                {% else %}
                                <div class="col-lg-6">
                                    <label>Beneficiário *</label>
                                    {{ form.beneficiary|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.beneficiary.errors }}</div>
                                </div>
                                {% if request.user.is_superuser or request.user|has_status_refund_permission %}
                                <div class="col-lg-6">
                                    <label>Estado</label>
                                    {{ form.status|append_attr:"class: form-control"|attr:"onchange: yesnoCheck(this);" }}
                                </div>
                                {% else %}
                                <div class="col-lg-6" style="display:none">
                                    <label>Status</label>
                                    {{ form.status|append_attr:"class: form-control"|attr:"onchange: yesnoCheck(this);" }}
                                </div>
                                {% endif %}
                            {% endif %}
                            </div>
                            {% if request.user.is_superuser or request.user|has_status_refund_permission %}
                            <div class="row" id="ifreason" {% if not form.status.value == '4' %}style="display: none;"{% endif %}>
                                <div class="col-lg-12">
                                    <label>Motivo</label>
                                    {{ form.reason|append_attr:"class: form-control" }}
                                </div>
                            </div>
                            <div class="row" id="ifobservation" {% if not form.status.value == '3' %}style="display: none;"{% endif %}>
                                <div class="col-lg-12">
                                    <label>Observação</label>
                                    {{ form.observation|append_attr:"class: form-control" }}
                                </div>
                            </div>
                            <script>
                                function yesnoCheck(that) {
                                    if (that.value == "4") {
                                        document.getElementById("ifreason").style.display = "block";
                                    } else {
                                        document.getElementById("ifreason").style.display = "none";
                                    }
                                    if (that.value == "3") {
                                        document.getElementById("ifobservation").style.display = "block";
                                    } else {
                                        document.getElementById("ifobservation").style.display = "none";
                                    }
                                }
                            </script>
                            {% endif %}
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Ida</h3>
                            </div>
                            {% if object and request.user|has_approve_refund_permission and not request.user == object.beneficiary %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                    {{ form.going_date|append_attr:"class: form-control pull-right"|attr:"readonly" }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.going_enterprise|append_attr:"class: form-control"|attr:"readonly" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_exit_time|append_attr:"class:form-control"|attr:"readonly" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_arrival_time|append_attr:"class:form-control"|attr:"readonly" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Volta</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                      {{ form.back_date|append_attr:"class: form-control pull-right"|attr:"readonly" }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.back_enterprise|append_attr:"class: form-control"|attr:"readonly" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_exit_time|append_attr:"class:form-control"|attr:"readonly" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_arrival_time|append_attr:"class:form-control"|attr:"readonly" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Despesas</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Despesas com locomoção</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.expenses_locomotion|append_attr:"class: form-control"|attr:"readonly" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Despesas com alimentação</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.meal_expenses|append_attr:"class: form-control"|attr:"readonly" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Diária</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.daily|append_attr:"class: form-control"|attr:"readonly" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Quilometragem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.mileage|append_attr:"class: form-control"|attr:"readonly" }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                                <h3 class="box-title">Histórico</h3>
                            </div>
                            <div class="form-group">
                                <label></label>
                                {{ form.history|append_attr:"class: form-control"|attr:"readonly" }}
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                      {{ form.going_date|append_attr:"class: form-control pull-right datepicker" }}
                                    </div>
                                    <div style="color:red">{{ form.going_date.errors }}</div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.going_enterprise|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.going_enterprise.errors }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_exit_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.going_arrival_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Volta</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Data *</label>
                                    <div class="input-group date">
                                      <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                      </div>
                                      {{ form.back_date|append_attr:"class: form-control pull-right datepicker" }}
                                    </div>
                                    <div style="color:red">{{ form.back_date.errors }}</div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Empresa *</label>
                                    {{ form.back_enterprise|append_attr:"class: form-control" }}
                                    <div style="color:red">{{ form.back_enterprise.errors }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de saída</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_exit_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bootstrap-timepicker">
                                        <label>Hora de chegada</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.back_arrival_time|append_attr:"class:form-control timepicker" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                              <h3 class="box-title">Despesas</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Despesas com locomoção</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.expenses_locomotion|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Despesas com alimentação</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.meal_expenses|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Diária</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.daily|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Quilometragem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        {{ form.mileage|append_attr:"class: form-control" }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-header with-border">
                                <h3 class="box-title">Histórico</h3>
                            </div>
                            <div class="form-group">
                                <label></label>
                                {{ form.history|append_attr:"class: form-control" }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="box-footer">
                            <button type="button" data-toggle="modal" data-target="#modal_confirma_solicitacao" class="btn btn-primary">Salvar</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal_confirma_solicitacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">Enviar solicitação</h4>
                                    </div>
                                    <div class="modal-body">
                                            <div class="box-body">
                                                Tem certeza que deseja enviar esta solicitação?
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                        <input type="submit" id="id_btn" value="Sim" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extracss %}
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}plugins/datepicker/datepicker3.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}plugins/timepicker/bootstrap-timepicker.min.css">
{% endblock %}
{% block extrajs %}
<!-- bootstrap datepicker -->
<script src="{{ MEDIA_URL }}plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{ MEDIA_URL }}plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js"></script>
<!-- bootstrap timepicker -->
<script src="{{ MEDIA_URL }}plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script>
  $(function () {

    //Date picker
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
        autoclose: true
    });

    //Timepicker
    $(".timepicker").timepicker({
        showMeridian: false,
        showInputs: false
    });
  });
</script>
{% endblock %}