{% extends 'elements/base.html' %}
{% load widget_tweaks %}
{% block title %}Criar Pasta de Conteúdo{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Arquivos
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-clock-o"></i>Dashboard</a></li>
            <li><a href="#">Pasta</a></li>
            <li class="active">Arquivos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-download-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">file.png</span>
              <span class="info-box-number">3 <small>Mb</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </section>
{% endblock %}