{% extends 'elements/base.html' %}
{% load widget_tweaks %}
{% load utils %}
{% block title %}Pasta {{ object }}{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Pasta {{ object }}
        </h1>
        <ol class="breadcrumb">
            {% if object.status %}
            <li><a href="{% url 'dashboard' request.user.slug %}"><i class="fa fa-clock-o"></i>Início</a></li>
            {% else %}
            <li><a href="{% url 'garbage' request.user.slug %}"><i class="fa fa-clock-o"></i>Lixeira</a></li>
            {% endif %}
            {% if object.parent.parent %}
            <li>...</li>
            {% endif %}
            {% if object.area %}
            <li><a href="{% url 'detail_area' object.area.slug object.area.pk %}">{{ object.area }}</a></li>
            {% elif object.parent %}
            <li><a href="{% url 'detail_folder' object.parent.slug object.parent.pk %}">{{ object.parent }}</a></li>
            {% endif %}
            <li class="active">{{ object }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    {% include 'elements/files_folders.html' %}

    </section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function del_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/pasta/deletar/" + folder_pk + "/",
            success: function () {
                $("#div_folder_" + folder_pk).remove();
                $('#modal_pasta_' + folder_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/arquivo/deletar/" + file_pk + "/",
            success: function () {
                $("#div_file_" + file_pk).remove();
                $('#modal_arquivo_' + file_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
{% endblock %}