{% load utils %}
<div class="row">
    {% include 'elements/messages.html' %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Criação</th>
                        <th>Tamanho</th>
                        <th>Adicionado por</th>
                        <th>Ações</th>
                    </tr>
                    {% for folder in folders %}
                    {% if request.user == folder.user or request.user.is_superuser or folder.permission == 'public' or request.user in folder.users_read.all or request.user in folder.users_write.all %}
                    <tr id="div_folder_{{ folder.pk }}">
                        <td><a href="{% url 'detail_folder' folder.slug folder.pk %}"><i class="ion ion-ios-folder"></i></a></td>
                        <td><a href="{% url 'detail_folder' folder.slug folder.pk %}">{{ folder.name }}</a></td>
                        <td>{{ folder.created_at }}</td>
                        <td> -- </td>
                        <td>{{ folder.user }}</td>
                        <td>
                        {% if request.user == folder.user or request.user.is_superuser or folder.permission == 'public' or request.user in folder.users_write.all %}
                            <a data-toggle="modal" data-target="#modal_compartilhar_{{ folder.pk }}" title="compartilhar" type="button" class="btn btn-xs btn-success"><i class="fa fa-share-square-o"></i></a>
                            <a href="{% url 'update_folder' folder.slug folder.pk %}" title="editar" type="button" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
                            {% if request.user.is_superuser or request.user|has_remove_permission %}
                                <a data-toggle="modal" data-target="#modal_pasta_{{ folder.pk }}" title="excluir" type="button" class="btn btn-xs btn-danger" data-widget="remove"><i class="fa fa-trash-o fa-fw"></i></a>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    <div class="modal fade" id="modal_compartilhar_{{ folder.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">Link de compartilhamento</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="box-body">
                                            <a href="{% url 'share_folder' folder.get_hash_slug folder.pk %}">http://{{ request.get_host }}/share/{{ folder.get_hash_slug }}/{{ folder.pk }}/</a>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    {% if folder.status_link %}
                                    <button type="button" id="disable_folder_link_{{ folder.pk }}" class="btn btn-danger" onclick="status_link_folder({{ folder.pk }});">Desativar</button>
                                    <button style="display: none;" type="button" id="enable_folder_link_{{ folder.pk }}" class="btn btn-success" onclick="status_link_folder({{ folder.pk }});">Ativar</button>
                                    {% else %}
                                    <button type="button" id="enable_folder_link_{{ folder.pk }}" class="btn btn-success" onclick="status_link_folder({{ folder.pk }});">Ativar</button>
                                    <button style="display: none;" type="button" id="disable_folder_link_{{ folder.pk }}" class="btn btn-danger" onclick="status_link_folder({{ folder.pk }});">Desativar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal_pasta_{{ folder.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">Excluir pasta</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="box-body">
                                            Tem certeza que deseja excluir esta pasta?
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                    <button type="button" onclick="del_folder({{ folder.pk }});" id="id_btn_file" class="btn btn-primary">Sim</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for file in files %}
                    {% if not file.folder.permission == 'private' and not file.user == requet.user %}
                    <tr id="div_file_{{ file.pk }}">
                        <td><a href="{{ MEDIA_URL }}{{ file.file }}" download><i class="fa fa-file-o"></i></a></td>
                        <td><a href="{{ MEDIA_URL }}{{ file.file }}" download>{{ file.name }}</a></td>
                        <td>{{ file.created_at }}</td>
                        <td>{{ file.file.size|filesizeformat }}</td>
                        <td>{{ file.user}}</td>
                        <td>
                        <a data-toggle="modal" data-target="#arquivo_compartilhar_{{ file.pk }}" title="compartilhar" type="button" class="btn btn-xs btn-success"><i class="fa fa-share-square-o"></i></a>
                        <a href="{% url 'update_file' file.pk %}" title="editar" type="button" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
                        <a href="{{ MEDIA_URL }}{{ file.file }}" title="Download" class="btn btn-xs btn-info" download><i class="glyphicon glyphicon-download-alt"></i></a>
                        {% if request.user.is_superuser or request.user|has_remove_permission %}
                        <a data-toggle="modal" data-target="#modal_arquivo_{{ file.pk }}" title="excluir" class="btn btn-xs btn-danger" data-widget="remove"><i class="fa fa-trash-o fa-fw"></i>
                        </a>
                        {% endif %}
                        </td>
                    </tr>
                    <div class="modal fade" id="arquivo_compartilhar_{{ file.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">Link de compartilhamento</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="box-body">
                                            <a href="{% url 'share_file' file.get_hash_slug file.pk %}">http://{{ request.get_host }}/file/{{ file.get_hash_slug }}/{{ file.pk }}/</a>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    {% if file.status_link %}
                                    <button type="button" id="disable_file_link_{{ file.pk }}" class="btn btn-danger" onclick="status_link_file({{ file.pk }});">Desativar</button>
                                    <button style="display: none;" type="button" id="enable_file_link_{{ file.pk }}" class="btn btn-success" onclick="status_link_file({{ file.pk }});">Ativar</button>
                                    {% else %}
                                    <button type="button" id="enable_file_link_{{ file.pk }}" class="btn btn-success" onclick="status_link_file({{ file.pk }});">Ativar</button>
                                    <button style="display: none;" type="button" id="disable_file_link_{{ file.pk }}" class="btn btn-danger" onclick="status_link_file({{ file.pk }});">Desativar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal_arquivo_{{ file.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">Excluir arquivo</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="box-body">
                                            Tem certeza que deseja excluir este arquivo?
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                    <button type="button" onclick="del_file({{ file.pk }});" id="id_btn_file" class="btn btn-primary">Sim</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>