{% load widget_tweaks %}
{% load utils %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'dashboard' request.user.slug %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b>EN</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FENACON</b>Extranet</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% if request.user.is_superuser %}
                                <li><!-- start message -->
                                    <a href="{% url 'create_area' %}">
                                        <div class="pull-left">
                                            <i class="fa fa-suitcase"></i>
                                        </div>
                                        <h4>
                                            Criar Área
                                        </h4>
                                    </a>
                                </li>
                                {% endif %}
                                <!-- end message -->
                                <li>
                                    <a data-toggle="modal" data-target="#modal_pasta">
                                        <div class="pull-left">
                                            <i class="fa fa-folder"></i>
                                        </div>
                                        <h4>
                                            Criar pasta de conteúdo
                                        </h4>
                                    </a>
                                </li>
                                <li>
                                    <a  data-toggle="modal" data-target="#modal_arquivo">
                                        <div class="pull-left">
                                            <i class="fa fa-cloud-upload"></i>
                                        </div>
                                        <h4>
                                            Adicionar arquivo
                                        </h4>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if request.user.photo %}
                            <img src="{{ request.user.get_photo_thumb }}" class="user-image" alt="User Image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}dist/img/user.png" class="user-image" alt="User Image">
                        {% endif %}
                        <span class="hidden-xs">{{ request.user.get_display_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {% if request.user.photo %}
                                <img src="{{ request.user.get_photo_thumb }}" class="img-circle" alt="User Image">
                            {% else %}
                                <img src="{{ MEDIA_URL }}dist/img/user.png" class="img-circle" alt="User Image">
                            {% endif %}
                            <p>
                                {{ request.user.get_display_name }} - {{ request.user.job }}
                                <small>Usuário desde {{ request.user.created_date }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'edit_user' request.user.slug %}" class="btn btn-default btn-flat">Editar
                                    perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--<li>
                  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
            </ul>

        </div>
    </nav>

</header>
<div class="modal fade" id="modal_pasta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Adicionar Pasta</h4>
            </div>
            <form id="id_form_folder" method="post">
                <div class="modal-body">
                    <div class="box-body">
                        <!-- text input -->
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Nome</label>
                            <input class=" form-control" id="id_name" maxlength="200" name="name" type="text">
                        </div>
                        <div class="form-group">
                            <label>Permissão</label>
                            <select class=" form-control" id="id_permission" name="permission">
                                <option value="public">Público</option>
                                <option value="private">Somente eu</option>
                            </select>
                        </div>
                        {% if object %}
                            {% if object|to_class_name == 'Area' %}
                                <input class=" form-control" id="id_area" value="{{ object.id }}" name="area" type="hidden">
                            {% elif object|to_class_name == 'Folder' %}
                                <input class=" form-control" id="id_parent" value="{{ object.id }}" name="parent" type="hidden">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="id_btn_folder" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_arquivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Adicionar arquivo</h4>
            </div>
            <form id="id_form_file" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                    <div class="box-body">
                        <!-- text input -->
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Nome</label>
                            <input class=" form-control" id="id_name" maxlength="200" name="name" type="text">
                        </div>
                        <div class="form-group">
                              <label for="id_file">Arquivo</label>
                              <input id="id_file" name="file" type="file" required>
                              <p class="help-block">Adicione o arquivo para upload</p>
                        </div>
                        {% if object %}
                            {% if object|to_class_name == 'Area' %}
                                <input class=" form-control" id="id_area" value="{{ object.id }}" name="area" type="hidden">
                            {% elif object|to_class_name == 'Folder' %}
                                <input class=" form-control" id="id_folder" value="{{ object.id }}" name="folder" type="hidden">
                            {% endif %}
                        {% endif %}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="submit" id="id_btn_file" class="btn btn-primary">Salvar</button>
            </div>
            </form>
        </div>
    </div>
</div>