{% load utils %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="{% url 'dashboard' request.user.slug %}" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" id="id_q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="{% url 'dashboard' request.user.slug %}">
                    <i class="fa fa-clock-o"></i> <span>Início</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-suitcase"></i> <span>Áreas</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {% for area in areas %}
                        {% has_area request.user area as result %}
                        {% if request.user.is_superuser or result %}
                            <li><a href="{% url 'detail_area' area.slug area.pk %}"><i class="fa fa-circle-o text-red"></i> {{ area.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{% url 'list_user' %}">
                    <i class="fa fa-users"></i> <span>Usuários</span>
                </a>
            </li>
            {% if request.user.is_superuser or request.user|has_refund_permission %}
            <li>
                <a href="{% url 'list_refund' %}">
                    <i class="fa fa-credit-card"></i> <span>Reembolso de Viagens</span>
                </a>
            </li>
            {% endif %}
            {% if request.user.is_superuser or request.user|has_history_permission %}
            <li>
                <a href="{% url 'history' %}">
                    <i class="fa fa-calendar"></i> <span>Histórico de atividades</span>
                </a>
            </li>
            {% endif %}

            <li><a href="{% url 'garbage' request.user.slug %}"><i class="fa fa-trash"></i> <span>Arquivos excluídos</span></a></li>
            {% if request.user.is_superuser %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Configurações</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_user' %}"><i class="fa fa-user"></i>Adicionar Usuários</a></li>
                    <li><a href="{% url 'create_group' %}"><i class="fa fa-users"></i> Adicionar Grupos de usuários</a></li>
{#                    <li><a href="layout/fixed.html"><i class="fa fa-shield"></i> Permissões</a></li>#}
{#                    <li><a href="layout/collapsed-sidebar.html"><i class="fa fa-gear"></i> Outras configurações</a></li>#}
                </ul>
            </li>
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>