{% extends 'elements/base.html' %}
{% load utils %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% if request.GET.q %}
        <h1>
            Resultado de <span>"{{ request.GET.q  }}"</span>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-clock-o"></i> Busca</li>
        </ol>
        {% else %}
        <h1>
            {% if request.user == object %}Início{% else %}{{ object.get_display_name }}{% endif %}
        </h1>
        <ol class="breadcrumb">
            {% if request.user == object %}
                <li class="active"><i class="fa fa-clock-o"></i> Início</li>
            {% else %}
                <li><i class="fa fa-clock-o"></i> Início</li>
                <li class="active"><i class="fa fa-user"></i> {{ object.get_display_name }}</li>
            {% endif %}
        </ol>
        {% endif %}
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
        {% for informative in informatives %}
        <div class="col-md-4">
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <span class="username">{{ informative.title }}</span>
                <span class="description">{{ informative.created_at }}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
              <!-- post text -->
              {{ informative.content }}

            </div>

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        {% endfor %}
      </div>
    {% include 'elements/files_folders.html' %}
    </section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function status_link_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/status-link/folder/" + folder_pk + "/",
            success: function (data) {
                if (data == true) {
                    $("#enable_folder_link_" + folder_pk).hide();
                    $("#disable_folder_link_" + folder_pk).show();
                } else {
                    $("#enable_folder_link_" + folder_pk).show();
                    $("#disable_folder_link_" + folder_pk).hide();
                }
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function status_link_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/status-link/file/" + file_pk + "/",
            success: function (data) {
                if (data == true) {
                    $("#enable_file_link_" + file_pk).hide();
                    $("#disable_file_link_" + file_pk).show();
                } else {
                    $("#enable_file_link_" + file_pk).show();
                    $("#disable_file_link_" + file_pk).hide();
                }
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/pasta/deletar/" + folder_pk + "/",
            success: function () {
                $("#div_folder_" + folder_pk).remove();
                $('#modal_pasta_' + folder_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/arquivo/deletar/" + file_pk + "/",
            success: function () {
                $("#div_file_" + file_pk).remove();
                $('#modal_arquivo_' + file_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
{% endblock %}