{% extends 'elements/base.html' %}
{% load utils %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% if request.GET.q %}
        <h1>
            Resultado de <span>"{{ request.GET.q  }}"</span>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-clock-o"></i> Busca</li>
        </ol>
        {% else %}
        <h1>
            {% if request.user == object %}Início{% else %}{{ object.get_display_name }}{% endif %}
        </h1>
        <ol class="breadcrumb">
            {% if request.user == object %}
                <li class="active"><i class="fa fa-clock-o"></i> Início</li>
            {% else %}
                <li><i class="fa fa-clock-o"></i> Início</li>
                <li class="active"><i class="fa fa-user"></i> {{ object.get_display_name }}</li>
            {% endif %}
        </ol>
        {% endif %}
    </section>

    <!-- Main content -->
    <section class="content">
    {% include 'elements/files_folders.html' %}
    </section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function del_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/pasta/deletar/" + folder_pk + "/",
            success: function () {
                $("#div_folder_" + folder_pk).remove();
                $('#modal_pasta_' + folder_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/arquivo/deletar/" + file_pk + "/",
            success: function () {
                $("#div_file_" + file_pk).remove();
                $('#modal_arquivo_' + file_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
{% endblock %}