{% extends 'elements/base.html' %}
{% load widget_tweaks %}
{% load utils %}
{% block title %}Lista de Usuários{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Usuários
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' request.user.slug %}"><i class="fa fa-clock-o"></i>Início</a></li>
            <li class="active">Lista de Usuários</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            {% include 'elements/messages.html' %}
            {% for user in object_list %}
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua-active">
                            {% if request.user.is_superuser %}
                            <div class="box-tools pull-right">
                                <a href="{% url 'user_actions' user.slug %}" title='ações' class="btn btn-xs btn-success"><i class="fa fa-file-text-o"></i></a>
                                <a href="{% url 'edit_user' user.slug %}" title='editar' class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></a>
                                <a data-toggle="modal" data-target="#modal_user_{{ user.pk }}" data-widget="remove" title='excluir' class="btn btn-xs btn-danger"><i class="fa fa-trash-o fa-fw"></i></a>
                            </div>
                            {% endif %}
                            <div class="widget-user-image">
                                {% if user.photo %}
                                    <img src="{{ user.get_photo_thumb }}" class="img-circle" alt="User Image">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}dist/img/user.png" class="img-circle" alt="User Image">
                                {% endif %}
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">{{ user.get_display_name }}</h3>
                            <h5 class="widget-user-desc">{{ user.job|default_if_none:'' }}</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="{% url 'dashboard' user.slug %}">Pastas <span class="pull-right badge bg-blue">{{ user.folder_set.all.count }}</span></a></li>
                                <li><a href="{% url 'dashboard' user.slug %}">Arquivos <span class="pull-right badge bg-aqua">{{ user.file_set.all.count }}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                {% if request.user.is_superuser %}
                <div class="modal fade" id="modal_user_{{ user.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">Excluir usuário</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="box-body">
                                            Tem certeza que deseja excluir este usuário?
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <form method="POST" action="{% url 'delete_user' user.pk %}">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                        {% csrf_token %}
                                        <input type="submit" value="Sim" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
