{% extends 'elements/base.html' %}
{% load utils %}
{% block title %}Área {{ object }}{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">


        <h1>
            Área {{ object }}
            {% if user.is_superuser %}
            <div class="btn-group">
                <a href="{% url 'update_area' object.slug object.pk %}" title="editar" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                <button data-toggle="modal" data-target="#modal_area_{{ object.pk }}" title="excluir" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
            {% endif %}
        </h1>
        <div class="modal fade" id="modal_area_{{ object.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Excluir área</h4>
                    </div>
                    <div class="modal-body">
                            <div class="box-body">
                                Tem certeza que deseja excluir esta área?
                            </div>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{% url 'delete_area' object.pk %}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                        {% csrf_token %}
                        <input type="submit" id="id_btn_area" value="Sim" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-clock-o"></i> Início</a></li>
            <li class="active">Área {{ object }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    {% include 'elements/files_folders.html' %}
    </section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function status_link_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/status-link/folder/" + folder_pk + "/",
            success: function (data) {
                if (data == true) {
                    $("#enable_folder_link_" + folder_pk).hide();
                    $("#disable_folder_link_" + folder_pk).show();
                } else {
                    $("#enable_folder_link_" + folder_pk).show();
                    $("#disable_folder_link_" + folder_pk).hide();
                }
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function status_link_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/status-link/file/" + file_pk + "/",
            success: function (data) {
                if (data == true) {
                    $("#enable_file_link_" + file_pk).hide();
                    $("#disable_file_link_" + file_pk).show();
                } else {
                    $("#enable_file_link_" + file_pk).show();
                    $("#disable_file_link_" + file_pk).hide();
                }
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_folder(folder_pk) {
        $.ajax({
            type: "GET",
            url: "/pasta/deletar/" + folder_pk + "/",
            success: function () {
                $("#div_folder_" + folder_pk).remove();
                $('#modal_pasta_' + folder_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
<script type="text/javascript">
    function del_file(file_pk) {
        $.ajax({
            type: "GET",
            url: "/arquivo/deletar/" + file_pk + "/",
            success: function () {
                $("#div_file_" + file_pk).remove();
                $('#modal_arquivo_' + file_pk).modal('toggle');
            },
            error: function (data) {
                alert("Ocorreu um erro, por favor, tente novamente.");
            }
        });
    }
</script>
{% endblock %}